.mat-form-field-label {
  color: #7b1fa2 !important;
}

.container {
 display: flex;
 justify-content: space-between;
}

.report-button {
  vertical-align: middle;
  line-height: 60px;
  background-color: deepskyblue;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
}

