<div class="container">
  <!--<button *ngIf="storeSelected" mat-icon-button (click)="hideStoreDetails()">-->
    <!--<mat-icon>arrow-back</mat-icon>-->
  <!--</button>-->
  <button *ngIf="storeSelected" mat-button (click)="hideStoreDetails()">
    Back
  </button>
  <store-detail *ngIf="storeSelected"></store-detail>
  <div *ngIf="!storeSelected">
    <div>Stores</div>
    <div *ngFor="let store of stores" (click)="selectStore(store)">
      <div class="store-container">
        <div class="avatar"><img src="{{ store.photoUrl }}"/></div>
        <div>
          <div>{{ store.name }}</div>
          <div>{{ store.address }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
