<div *ngIf="store && items">
  <div><img src="{{ store.photoUrl }}"/></div>
  <div>
    <div>{{ store.name }}</div>
    <div>{{ store.address }}</div>
  </div>
  <hr>
  <div>
    <div>Food</div>
    <div class="list-container">
      <div>
        <div>In-Stock</div>
        <div></div>
      </div>
      <div>
        <div>Out of Stock</div>
        <div></div>
      </div>
    </div>
  </div>
  <div>
    <div>Essentials</div>
    <div>
      <div>
        <div>In-Stock</div>
        <div></div>
      </div>
      <div>
        <div>Out of Stock</div>
        <div></div>
      </div>
    </div>
  </div>
</div>
